<ion-view view-title="Configuration">
  <ion-content>
    <form>
      <div class="list">
        <div class="item item-toggle item-divider-for-toggle">
          Indexeur : Clef d'API
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="config.apikey.activated">

            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="config.apikey.activated">
          <label class="item item-input">
            <span class="input-label">Nzb.su :</span>
            <input type="text" name="configApiKeyNzbsu" ng-model="config.apikey.nzbsu"/>
          </label>
          <!--label class="item item-input">
            <span class="input-label">Nzb.is :</span>
            <input type="text" name="configApiKeyNzbis" ng-model="config.apikey.nzbis"/>
          </label-->
        </div>
        <div class="item item-toggle item-divider-for-toggle">
          Nzbget
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="config.nzbget.activated">

            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="config.nzbget.activated">
          <label class="item item-input">
            <span class="input-label">Url :</span>
            <input type="text" name="configNzbgetRooturl" ng-model="config.nzbget.url"/>
          </label>
          <label class="item item-input">
            <span class="input-label">Catégorie :</span>
            <input type="text" name="configNzbgetCategory" ng-model="config.nzbget.category"/>
          </label>
          <label class="item item-input">
            <span class="input-label">Utilisateur :</span>
            <input type="text" name="configNzbgetUsername" ng-model="config.nzbget.username"/>
          </label>
          <label class="item item-input">
            <span class="input-label">Mot de passe :</span>
            <input type="password" name="configNzbgetPassword" ng-model="config.nzbget.password"/>
          </label>

          <div class="item item-button-right">
            Tester la connexion :
            <button class="button button-positive" ng-click="testNzbgetConfig()">
              <i class="icon ion-help"></i>
            </button>
          </div>
        </div>
        <div class="item item-toggle item-divider-for-toggle">
          Sabnzbd
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="config.sabnzbd.activated">

            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="config.sabnzbd.activated">
          <label class="item item-input">
            <span class="input-label">Url :</span>
            <input type="text" name="configSabnzbdRooturl" ng-model="config.sabnzbd.url"/>
          </label>
          <label class="item item-input">
            <span class="input-label">Catégorie :</span>
            <input type="text" name="configSabnzbdCategory" ng-model="config.sabnzbd.category"/>
          </label>
          <label class="item item-input">
            <span class="input-label">Utilisateur :</span>
            <input type="text" name="configSabnzbdUsername" ng-model="config.sabnzbd.username"/>
          </label>
          <label class="item item-input">
            <span class="input-label">Mot de passe :</span>
            <input type="password" name="configSabnzbdPassword" ng-model="config.sabnzbd.password"/>
          </label>
          <label class="item item-input">
            <span class="input-label">Clef API :</span>
            <input type="text" name="configSabnzbdApiKey" ng-model="config.sabnzbd.apikey"/>
          </label>

          <div class="item item-button-right">
            Tester la connexion :
            <button class="button button-positive" ng-click="testSabnzbdConfig()">
              <i class="icon ion-help"></i>
            </button>
          </div>
        </div>
        <div class="item item-toggle item-divider-for-toggle">
          Binnews
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="config.binnews.activated">

            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        <fancy-select
          header-text="Catégories"
          allow-empty='false'
          value="config.binnews.categories"
          text="filterCategoryText"
          items="categories"
          note-img=""
          multi-select="true">
        </fancy-select>
        <div class="item item-divider">Affichage</div>
        <div class="item item-toggle">
          Binsearch
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="config.searchengine.binsearch.activated">

            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        <div class="item item-toggle">
          Nzbclub
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="config.searchengine.nzbclub.activated">

            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        <div class="item item-toggle">
          Findnzb
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="config.searchengine.findnzb.activated">

            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        <fancy-select
          header-text="Page par défaut"
          allow-empty='false'
          value="config.defaultPageId"
          text="filterDefaultPage"
          items="pages">
        </fancy-select>
        <button class="button button-full button-positive" type="submit" ng-click="submitConfig()">Sauvegarder</button>

      </div>
    </form>

  </ion-content>
</ion-view>
