<ion-view view-title="search">
  <ion-content>
    <h1>Search</h1>
    <form ng-submit="useBinsearch()">
      <div class="list">
        <label class="item">
          <button class="button button-block button-positive" type="submit">searchBinsearch</button>
        </label>
      </div>
    </form>
    <form ng-submit="useNzbindex()">
      <div class="list">
        <label class="item">
          <button class="button button-block button-positive" type="submit">searchNzbindex</button>
        </label>
      </div>
    </form>
    <ion-list ng-show="isFullyLoaded">
      <ion-item ng-repeat="data in datas">{{data.Name}} => {{data.Value}}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
