<ion-view view-title="search">
  <ion-content>
    <h1>Search</h1>
    <form ng-submit="submitBinsearch()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Filter :</span>
          <input type="text" name="filterBinsearch" ng-model="filters.binsearch" />
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">searchBinsearch</button>
        </label>
      </div>
    </form>

    <form ng-submit="submitNzbindex()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Filter :</span>
          <input type="text" name="filterNzbindex" ng-model="filters.nzbindex" />
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">searchNzbindex</button>
        </label>
      </div>
    </form>
    <ion-list ng-show="isFullyLoaded">
      <ion-item ng-repeat="data in datas" href="{{data.link}}">{{data.title}} => {{data.publicationDate}}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
