<ion-view title="Nzbget" ng-init="initQueues(false)">
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item-icon-left item-icon-right" ng-repeat="data in queues">
        <div class="icon">
          <i class="ion-play" ng-click="resumeQueueItem(data)" ng-show="{'PAUSED' : true}[data.status]"></i>
          <i class="ion-pause" ng-click="pauseQueueItem(data)" ng-show="{'DOWNLOADING' : true,'QUEUED': true}[data.status]"></i>
        </div>
        <h2>{{data.name}}<span class="item-note item-note-nzbget">{{data.sizeleft}} Mo / {{data.size}} Mo</span></h2>
        <div class="icon">
          <i class="ion-arrow-up-c" ng-click="moveUpQueueItem(data)"></i>
          &nbsp;
          <i class="ion-arrow-down-c" ng-click="moveDownQueueItem(data)"></i>
          &nbsp;
          <i class="ion-trash-b" ng-click="deleteQueueItem(data)"></i>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
