<ion-view title="Nzbget"ng-init="initHistory(false)">
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item-icon-left item-icon-right" ng-repeat="data in histories">
        <i class="icon" ng-class="{'SUCCESS' : 'ion-thumbsup', 'FAILURE': 'ion-thumbsdown', 'DELETED': 'ion-thumbsdown', 'SKIPPED': 'ion-thumbsdown', 'DUPE': 'ion-thumbsdown'}[data.status]"></i>
        <h2>{{data.name}}<span class="item-note">{{data.size}} Mo</span></h2>
        <p>{{data.nzbname}}</p>
        <i class="icon ion-trash-b" ng-click="deleteHistoryItem(data)"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
