<ion-view view-title="Rechercher avec Binnews">
  <ion-content>
    <div class="list">
      <label class="item">
        <button class="button button-block button-positive"
                modal-select
                modal-title="{{defaultMessage}}"
                reset-button="Réinitialiser"
                cancel-button="Annuler"
                ng-model="selectedCategory"
                options="categories"
                on-select="onCategorySelect(newValue, oldValue)"
                on-reset="onCategoryReset()">
          {{displayedCategoryMessage}}
          <div class="option">
            <h2>{{option.categoryName}}</h2>
          </div>
        </button>
      </label>
    </div>
    <div ng-show="isFullyLoaded">
      <div class="row row-binnews row-binnews-header">
        <div class="col col-40 col-binnews col-binnews-header"><h2>Informations</h2></div>
        <div class="col col-binnews col-binnews-header"><h2>Fichier</h2></div>
      </div>
      <div class="row row-binnews" ng-repeat="data in datas" ng-click="openSearchPopover($event,data)">
        <div class="col col-40 col-binnews">
          <div ng-if="data.content.highQuality != null"><span class="informations">Réso :</span> {{data.content.highQuality}}</div>
          <div><span class="informations">Taille :</span> {{data.content.size}}</div>
        </div>
        <div class="col col-binnews">
          <h2>{{data.source.title}}</h2>
          Fichier : <span class="file-name">{{data.content.fileName}}</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

