/* Empty. Add your own CSS if you like */
.item-divider-for-toggle {
  min-height: 30px;
  background-color: #f5f5f5;
  color: #222;
  font-weight: 500;
}

.search-col-length {
  width: 100px;
  float: left;
}

.display-message {
  padding: 5px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-align: center;
}

.display-message-balanced {
  border-color: #28a54c;
  background-color: #33cd5f;
  background-image: linear-gradient(0deg, #28a54c, #28a54c 50%, transparent 50%);
  color: #fff;
}

.display-message-energized {
  border-color: #e6b500;
  background-color: #ffc900;
  background-image: linear-gradient(0deg, #e6b500, #e6b500 50%, transparent 50%);
  color: #fff;
}

.display-message-assersive {
  border-color: #e42112;
  background-color: #ef473a;
  background-image: linear-gradient(0deg, #e42112, #e42112 50%, transparent 50%);
  color: #fff;
}

.bar-subheader-for-messages {
  top: 44px;
  display: block;
  position: relative !important;
  height: initial !important;
  border-bottom: 0px !important;
}

.row-no-padding {
  padding: 0px !important;
}

.row-binnews {
}

.row-binnews-header {
  min-height: 30px;
  background-color: #f5f5f5;
  color: #222;
  font-weight: 500;
  padding: 0px !important;
}

.col-binnews {
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 16px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  font-size: 16px;
}

.col-binnews-header {
  background-color: #f5f5f5 !important;
}

.col-binnews-header h2 {
  font-size: 18px !important;
  font-weight: bold !important;
}

.col-binnews h2 {
  margin: 0 0 2px 0;
  font-size: 18px;
  font-weight: normal;
}
.col-binnews .informations {
  color: #000;
  margin: 0 0 2px 0;
  font-size: 18px;
  font-weight: normal;
}

.col-binnews .file-name {
  color: #666;
  font-size: 14px;
  margin-bottom: 2px;
}

.item-note-nzbget {
  margin-right: 40px;
}
