/* Empty. Add your own CSS if you like */
.padding-for-display-message {
  padding-top: 50px;
}

.item-divider-for-toggle {
  min-height: 30px;
  background-color: #f5f5f5;
  color: #222;
  font-weight: 500;
}

.search-col-length {
  width: 100px;
  float: left;
}

.display-message {
  padding: 5px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-align: center;
}

.display-message-balanced {
  background: #33cd5f;
}

.display-message-assersive {
  background: #ef473a;
}

.bar-subheader-for-messages {
  top: 44px;
  display: block;
  height: 50px;
}

.row-no-padding {
  padding: 0px !important;
}
